{% extends 'users/layout.html'%}
{%block banner2%}
<div class="row">
<div class="col-md-2 " style="min-height: 100px; background-color: rgb(215, 215, 215);">
    <div class="mb-5 mt-5 py-3" >
     <a href="{{url_for('patient_dashboard')}}" class="btn btn-outline-primary" ><img src="/static/home.png" style="height: 30px;" class="mx-3">   Home</a>
    </div>
    <div class="mb-5 mt-2 py-3">
        <a href="{url_for('book_appoimtment')}" class="btn btn-outline-primary"><img src="/static/appointment-book.png" style="height: 30px;" class="mx-3">   Book Appointments</a>
    </div>
    <div class="mb-5 mt-2">
      <a href="{{url_for('patient_appointment')}}" class="btn btn-outline-primary" ><img src="/static/medical-appointment.png" style="height: 30px;" class="mx-3">  Appointments</a>
  </div>
  <div class="mb-5 mt-2">
    <a href="{{url_for('patient_declined_appointment')}}" class="btn btn-outline-primary" ><img src="/static/calendar.png" style="height: 30px;" class="mx-3"> Declined Appointments</a>
</div>
  <div class="mb-5 mt-2">
      <a href="{{url_for('diagnosis_feedback')}}" class="btn btn-outline-primary" ><img src="/static/medical-appointment.png" style="height: 30px;" class="mx-3">Diagnosis Feedback</a>
  </div>
</div>
<div class="col-md-10" style="min-height: 400px;">
    <h1 class="my-5 mx-5 text-center"> Book Your Appointments Here</h1>
    <div class="col py-5 px-4">
        <form action="#" method="post" class=" bg-light text-center px-4" style="border-radius: 15px;">
          <div>
            <label for="fname" class="my-3">Full Name</label>
            <input type="text" class="form-control text-center" value="{{sesdeets.fullname}}" disabled name="patientname">
            
          </div>
          <div class="">
            <label for="apdate"  class="my-3">Desired Date Of Appointment</label>
            <input type="date" class="form-control" name="apdate">
          </div>
          <div class="">
            <label for="aptime"  class="my-3">Desired Time Of Appointment</label>
            <input type="time" class="form-control" name="aptime">
          </div>
          
          <div class="">
            <label class="my-3">Desired Doctor To Meet</label>
            <select class="form-control text-primary" name="doctor">
                <option value="">Please Select A Doctor</option>
                {% for d in doc%}
                <option value="{{d.doctor_id}}">{{d.doctorfullname}} : {{d.specs.specialization}} </option>
                {%endfor%}
            </select>
          </div>
          <div>
            <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
            <label for="comp" class="my-3">Complaints</label>
            <input type="text" class="form-control" name="comp">
            <button class="btn btn-info text-light form-control py-2 mb-5" > Book Appointment</button>
          </div>
          
        </form>
      </div>
</div>
</div>
{% endblock%}