<div class="footer">
    <div class="row bg-dark justify-content-center">
      <div class="col-md-10">
        <div class="row text-light">
          <div class="col-md-6 text-center py-5">
            <h1>SERVICES</h1>
              <ul style="list-style-type: none;">
                <li>Ward Facilities</li>
                <li>Nursing</li>
                <li>Intensive Care Unit(ICU)</li>
                <li>Pharmacy And Diagnosis</li>
                <li>Maternity</li>
                <li>Medical Services</li>
                <li>Laboratory Services</li>
              </ul>
          </div>
          <div class="col-md-6 text-center py-5">
            <h1>CONTACT US</h1>
              <ul style="list-style-type: none;">
                <li>Head Hostpital Address: 72,Maroko Way Victoria Plaza,Mali,Nigeria </li>
                <li>email: producthospital@gmail.com</li>
                <li>Telephone:+234814646463</li>
                <li>Telephone:+16709456907</li>
              </ul>
              <i class="fa-brands fa-2x fa-facebook-f px-2 " style="color: #ffffff;"></i><i class="fa-brands fa-2x px-2 fa-instagram" style="color: #ffffff;"></i><i class="fa-brands fa-2x px-2 fa-whatsapp" style="color: #ffffff;"></i>
          </div>
          
        </div>
      </div>
    </div>
   </div>