<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="bootstrap/css/bootstrap.css" rel='stylesheet' type='text/css'>
    <link href="animate.min.css" rel="stylesheet">
    <link href='fontawesome/css/all.min.css' rel='stylesheet'>
    <style type="text/css">
      div{
        border: 2px solid red;
        min-height: 100px;
      }
      body{
        
      }
       .header{ 
         	
  	position:sticky;
	  top:0px;
   }
   #appoint{
    background-image:linear-gradient(to bottom, rgba(0,0,0, 0.4), rgba(10,10,30, 0.5)), url('banner2.jpg'); 
    background-attachment: fixed;
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
   
   }
  .strong{
    color: rgba(7, 42, 108,0.7);
  }
   #con{
    background-color: rgba(7, 42, 108,0.7);
   }
   .didi{
    background-color: rgba(7, 42, 108,0.5);
   }
   h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   }
   a#book{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
   }
    </style>
    <title>Landing</title>
</head>
<body>
 <div class="container-fluid " style="min-height: 600px;" id="top">
      <div class="row">
        <div class="container-fluid  display: inline-block header" style="min-height: 10;">
         

          
        </div>
        <!--Picture For Appointments-->
        <div class="container-fluid">
          <div class="row">
            <div>
              <nav class="navbar navbar-expand-lg navbar-light header">
                  <div class="container-fluid" id="con">
                    <a class="navbar-brand text-light" href="#">PROJECT HOSPITAL</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                          <a class="nav-link active text-light" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link text-light" href="login.html">Login</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link text-light" href="register.html">Register</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link text-light" href="#">APPOINTMENTS</a>
                        </li>                       
                    </div>
                  </div>
                </nav>
          </div>
            <div class="container-fluid " id="appoint">
                <h1 style="color: rgba(7, 42, 108,0.9); " class="mt-5 mx-5 animate__animated animate__bounceInRight animate__delay-1s">Helping You, </h1>
                <h1 class="text-dark mt-1 mx-5 animate__animated animate__bounceInRight animate__delay-1s">Your Loved Ones Stay Healthy</h1>
                <a class="btn btn-outline-primary  mx-5 animate__animated animate__bounceInRight animate__delay-2s"id="book" href="login.html">Book An Appointment</a>
            </div>
          </div>
        </div>
       <div class="row justify-content-center">
          <!-- <div class="col-md-10"></div> -->
       </div>
       <!--Numbers-->
          <div class="container-fluid py-5 didi" >
           
            <div class="row">
               <div class="col-md-4 py-3">
                <h1 class="text-center"><i class="fa-solid fa-user-doctor fa-flip fa-2xl" style="color: #511f4d;"></i></h1>
                  <h1 class="text-center py-3">15</h1>
                  <h2  class="text-center">Expert Doctors</h2>
               </div>             
               <div class="col-md-4 py-3">
                <h1 class="text-center"><i class="fa-regular fa-face-smile fa-beat fa-2xl" style="color: #511f3f;"></i></h1>
                 <h1  class="text-center py-3">250+</h1>
                 <h2  class="text-center">Happy Clients</h2>
              </div>
              <div class="col-md-4 py-3">
                <h1 class="text-center"><i class="fa-solid fa-percent fa-beat fa-2xl" style="color: #511f51;"></i></h1>
                <h1  class="text-center py-3">85%</h1>
                <h2  class="text-center">Success Rate</h2>
            </div>
          </div>
        </div>
        <div class="container-fluid py-4" >
          <h1 class="strong text-center py-3 animate__animated animate__fadeInTopLeft animate__delay-5s">About US</h1>
          <h2 class="py-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. At ipsa quae adipisci ipsum, eaque sunt doloribus eveniet vero quos quia illum pariatur aliquam quasi. Libero aspernatur minima incidunt aliquid error?</h2>
        </div>
                
      
      
       
      
        
    
      <!--Footer-->
      <div class="container-fluid bg-dark  text-light py-4" style="min-height: 44px;" id="down">
        <div class="row justify-content-center">          
          <div class="col-md-4 py-2">
            <h1>SERVICES</h1>
            <ul>
              <li>Ward Facilities</li>
              <li>Nursing</li>
              <li>Intensive Care Unit(ICU)</li>
              <li>Pharmacy And Diagnosis</li>
              <li>Maternity</li>
              <li>Medical Services</li>
              <li>Laboratory Services</li>
            </ul>
          </div>
          <div class="col-md-4 py-2">
            <h1>CONTACT US</h1>
            <ul>
              <li>Head Hostpital Address: 72,Maroko Way Victoria Plaza,Mali,Nigeria </li>
              <li>email: producthospital@gmail.com</li>
              <li>Telephone:+234814646463</li>
              <li>Telephone:+16709456907</li>
            </ul>
          </div>
        </div>
       
       
      </div>
      <div class=" container-fluid bg-dark text-light justify-content-center text-center ">
        <div>
          <h1>&copy;Pencil 2023</h1>
        </div>
      </div>
        
  </div>
</div>
  

    
</body>
</html>